body {
    background-color: #353e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

div#gameFrame {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: 90vh; */
    /* position: relative; */
}

div#gameChoices {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 12vh;
    margin-top: 5vh;
}

button.gChoice {
    width: 25vw;
    /* max-width: 13vw; */
    height: 25vw;
    border-radius: 15vw;
    border: 0.4vw solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

button#Rock.gChoice {
    background-color: rgb(187, 143, 114);
}

button#Paper.gChoice {
    background-color: rgb(141, 188, 219);
}

button#Scissors.gChoice {
    background-color: rgb(239, 241, 115);
}

button.gChoice:hover {
    border-color: black;  
    transform: scale(1.1);
}

#resultLost, #resultWin, #resultTie {
    height: 5vw;
    text-align: center;
    background-color: #99a3ad;
    display: flex;
    border-radius: 100vw;
    font-size: 2.3vw;
    width: 75vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    border: 5px solid white;
    text-shadow: -1px 1px 4px #969696;
}

#resultLost {
    color: red;
}

#resultWin {
    color: #14ff14;
 }

#resultTie {
    color: black;
 }

 img {
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    border-radius: 100vw;
    -webkit-user-drag: none;
 }

 #reset:hover {
    background-color: rgb(150, 60, 235)
 }

 #sourceText {
    color: white;
 }

 .sourceLink {
    color: rgb(86, 255, 247);
    font-weight: bold;
 }